* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0px;
  -webkit-padding-after: 0px;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
  -moz-margin-before: 0px;
  -moz-margin-after: 0px;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-before: 0px;
  -moz-padding-after: 0px;
  -moz-padding-start: 0px;
  -moz-padding-end: 0px;
  -ms-margin-before: 0px;
  -ms-margin-after: 0px;
  -ms-margin-start: 0px;
  -ms-margin-end: 0px;
  -ms-padding-before: 0px;
  -ms-padding-after: 0px;
  -ms-padding-start: 0px;
  -ms-padding-end: 0px;
  -o-margin-before: 0px;
  -o-margin-after: 0px;
  -o-margin-start: 0px;
  -o-margin-end: 0px;
  -o-padding-before: 0px;
  -o-padding-after: 0px;
  -o-padding-start: 0px;
  -o-padding-end: 0px;
}

html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
  background-color: #eee;
}

/* margin for page */

main,
footer {
  --border-color: black;
  --margin-bottom: 4rem;
  --h2-margin-bot: 23px;
  --h2-font-size: 32px;

  margin: 0 1%;
  line-height: 1.7;
}

/***** navbar styling ******/

header {
  padding: 10px 20px 0 20px;
  background-image: url("./images/header-background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 700px;
  width: 100%;
  display: block;
  position: relative;
  padding-top: 20px;
  margin-top: 0;
  text-align: center;
  color: #673ab7;
  font-size: 28px;
}

header h1 {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li span {
  display: none;
}

header nav div {
  display: block;
  font-family: cursive;
}

ul li {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar {
  width: 100%;
  background-color: rgb(255, 255, 255);
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
}

.navbar-items {
  display: flex;
  list-style: none;
  justify-content: center;
  font-size: 24px;
}

.navbar li a {
  text-decoration: none;
  color: #673ab7;
}

.navbar-items li {
  padding: 1.6rem 1.5rem;
  position: relative;
  display: block;
  width: auto;
  transition: all 0.3s;
}

.navbar-items li:hover {
  background-color: #333131;
}

@media (min-width: 550px) {
  .navbar {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0;
  }
  header nav div {
    margin-left: 10px;
  }
  .navbar-items,
  header div {
    font-size: 2rem;
  }
}

@media (min-width: 850px) {
  .navbar-items,
  header div {
    font-size: 1.3rem;
  }
  header nav ul li span {
    display: block;
  }
  header nav ul li a {
    display: flex;
  }
  I {
    padding-right: 7px;
  }
}

@media (min-width: 950px) {
  .navbar-items,
  header div {
    font-size: 1.6rem;
  }
  header nav div {
    margin-left: 20px;
  }
}

/******about section styling***** */

#about {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
  font-size: 20px;
}

#about img {
  display: none;
  width: 840px;
  height: 350px;
  border: 2px solid var(--border-color);
  border-radius: 20px;
}

#about div img {
  display: block;
  width: fit-content;
  height: 350px;
}

#about div h2 {
  font-size: var(--h2-font-size);
  font-weight: 600px;
  border-bottom: 2px solid var(--border-color);
  margin-bottom: var(--h2-margin-bot);
}

@media (min-width: 450px) {
  #about div img {
    display: none;
  }
  #about img {
    display: block;
  }
  main,
  footer {
    margin: 0 5%;
  }
  #about div p {
    margin-right: 15px;
  }
}

@media (min-width: 850px) {
  main,
  footer {
    margin: 0 10%;
  }
}

@media (min-width: 1050px) {
  main,
  footer {
    margin: 0 15%;
  }
}

/****** skills section styling ******/

#skills {
  width: 100%;
  margin-bottom: var(--margin-bottom);
  font-size: 20px;
}

#skills div figure img {
  height: 120px;
}

#skills figure img:last-child {
  margin-right: 0;
}

#skills .skills-divider {
  width: 100%;
  margin: 30px auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

#skills div.skills-divider figure {
  display: inline-block;
  width: 45%;
  text-align: center;
  padding: 2%;
  margin: 1%;
}

#skills h2 {
  font-size: var(--h2-font-size);
  border-bottom: 2px solid var(--border-color);
  margin-bottom: var(--h2-margin-bot);
}

@media (min-width: 750px) {
  #skills .skills-divider {
    flex-direction: row;
    width: 80%;
  }
  #skills div.skills-divider figure {
    width: 22%;
  }
}

@media (min-width: 1050px) {
  #skills div.skills-divider figure {
    width: 17%;
  }
}

/****** projects section styling ******/

#projects {
  width: 100%;
  margin-bottom: var(--margin-bottom);
}

#projects div.project-container {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  border-bottom: 1px solid rgb(180, 177, 177);
  margin-top: 35px;
}

#projects div.project-container:last-child {
  border-bottom: 0;
}

/* #projects div.project-image,
#projects div.project-description {
  width: 48%;
} */

#projects div.project-container div.project-image a img {
  width: 100%;
  height: auto;
  border: 3px solid rgb(149, 150, 146);
  border-radius: 8px;
}

#projects h2.section-h2 {
  font-size: var(--h2-font-size);
  border-bottom: 2px solid var(--border-color);
  margin-bottom: var(--h2-margin-bot);
}

#projects div.project-container div.project-description h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

#projects div.project-container div.project-description {
  font-size: 1.2rem;
  margin-bottom: 25px;
}

#projects div.project-container div.project-description div.demo-code-links {
  margin-top: 10px;
}

#projects div.project-container div.project-description a {
  appearance: none;
  border: none;
  text-decoration: none;
  display: inline-block;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #672a83;
  border-radius: 5px;
  border: 1px solid #ddd;
}

@media (min-width: 768px) {
  #projects div.project-container {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  #projects div.project-container div.project-image,
  #projects div.project-container div.project-description {
    width: 48%
  }
}

/******* contacts section styling*******/

#contact {
  margin: 30px 0;
  height: auto;
}

#contact ul.contact-container {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
}

#contact ul.contact-container li {
  list-style-type: none;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}
#contact ul.contact-container li.contact-link a.link {
  appearance: none;
  border: none;
  text-decoration: none;
  display: inline-block;
  color: #672a83;
  cursor: pointer;
  font-size: 2.5rem;
}

footer {
  text-align: center;
}
